tr:nth-of-type(even) td{
    /* background-color: lighten(#4ECDC4, 35%); */
    background-color: #3356c82b;
  }
tr:nth-of-type(even) th{
    background-color: #3356c82b;
} 
thead{
    background:#3356c8;
    color:white;
}
/* ng2-pdfjs-viewer{
    height: 70vh
} */

small{
    color: green;
}
/* .toggle-green{
    color: green;
} */