.search-place{
    background:#3356c83b;
    /* color: white; */
    border-radius: 7px;
    font-size: 16px;
    padding-left: 27px;
    padding: 12px 20px 1px;
    display: none;
}

.toggling{
    display:block;
}
tr:nth-of-type(even) td{
    /* background-color: lighten(#4ECDC4, 35%); */
    background-color: #3356c82b;
  }
tr:nth-of-type(even) th{
    background-color: #3356c82b;
} 
thead{
    background:#3356c8;
    color:white;
}
small{
    display: none;
}
.toggle-alert{
    display:block;

}