<!-- 
<div class="container-fluid main-section">
    <div class="row">
      
    </div>
  </div> -->
<!-- <div class="col-2 left-nav border-right" id="left-nav"> -->
<div class="brand">
  <!-- <img src="img/dbfolio-icon.png" alt="dbfolio-icon"> -->
  <p class="brand-name">STUDENTS MANAGEMENT</p>
</div>
<div class="reports">
  <p class="heading">ADMIN DASHBOARD</p>
  <ul>
    <li (click)="onShowAllClicked()">
      <i class="fas fa-file-alt left-nav-icon"></i>
      <p>Show Students List</p>
    </li>
    <li (click)="onFindStudentClicked()">
      <i class="fas fa-file-alt left-nav-icon"></i>
      <p>Find Student</p>
    </li>
    <li (click)="onAddStudentClicked()">
      <i class="fas fa-file-alt left-nav-icon"></i>
      <p>New Student</p>
    </li>
    <li (click)="onDeleteStudentClicked()">
      <i class="fas fa-file-alt left-nav-icon"></i>
      <p>Delete Student</p>
    </li>
  </ul>
</div>
<!-- </div> -->
